extend ./layout/index 
block content
    div(class="p-6 space-y-4 h-full border-2 border-dashed border-purple-700") 
        form(action="/todos" method="POST"  class="max-w-md mx-auto" ) 
            label(for="new-task") 
            input(type="text" id="new-task" placeholder="Do the laundry..." class="border border-black/30 w-full px-2 py-1 rounded outline-none")


        ul(class="grid grid-cols-3 gap-3 p-2 h-[85%] border-2 ")
            each todo in todos
                li(class="border border-black/50") #{todo.task}


